@import '~@angular/material/theming';
@import '../../mixins';

.nav-dictionaries {

  @include box(1px, 2px, 10px);
  margin-top: 10px;

  .dictionary-actions {
    display: none;

    .edit-dictionary { margin-right: 10px; }
  }

  md-list-item:hover {
    background-color: map-get($mat-blue, 50);
    .dictionary-actions { display: flex; }
  }

}