@import '~@angular/material/theming';
@import '../../mixins';

.form-dictionary {

  .dictionary-name { font-size: 1.2rem; }

  table {
    @include box(1px, 2px, 10px);
    margin-top: 10px;

    tr {

      .delete-entry {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        line-height: 26px; // magic numbere

        .mat-icon {
          padding: 0;
          line-height: 0;
          height: 20px;
          width: 20px;
          font-size: 16px;
        }
      }

      td { position: relative; }

      &:hover .delete-entry { display: block; }
    }
  }

  .inconsistency-marker {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    
    &.warning { color: map_get($mat-yellow, 700); }
    &.error { color: map_get($mat-red, 500); }
  }

}