<form class="form-dictionary">
  <md-input-container class="dictionary-name">

    <input 
      focus-input 
      name="dictionary-name" 
      mdInput 
      placeholder="Dictionary name" 
      [(ngModel)]="dictionary.name"
      required>

  </md-input-container>

  <table cellspacing="0">
    <tr>
      <th>Domain</th>
      <th>Range</th>
    </tr>

    <tr *ngFor="let entry of enteredEntries; let idx = index">
      <td>
        <md-input-container>

          <input 
            name="domain-{{entry.domain | keyable}}" 
            mdInput 
            [(ngModel)]="entry.domain">

        </md-input-container>
      </td>
      <td class="input-range-wrapper">
        <md-input-container>

          <input 
            name="range_for-{{entry.domain | keyable}}" 
            mdInput 
            [(ngModel)]="entry.range"
            required>

        </md-input-container>

        <button title="Delete entry" class="delete-entry" color="warn" md-mini-fab (click)="deleteEntry(idx)">
          <md-icon>delete</md-icon>
        </button>
      </td>
    </tr>

    <tr class="new-entry">
      <td>
        <md-input-container>

          <input 
            #newEntryDomainInput 
            name="new_entry-domain" 
            mdInput 
            [(ngModel)]="lastEntry.domain">

        </md-input-container>
      </td>
      <td class="input-range-wrapper">
        <md-input-container>

          <input 
            name="new_entry-range"
            mdInput 
            [(ngModel)]="lastEntry.range" 
            (keydown)="onKeydown($event)">

        </md-input-container>

        <button title="Empty entry" class="delete-entry" color="warn" md-mini-fab (click)="emptyLastEntry()">
          <md-icon>delete</md-icon>
        </button>
      </td>
    </tr>

  </table>
</form>