<form class="detail-dictionary">
  <md-input-container class="dictionary-name">

    <input 
      focus-input 
      name="dictionary-name" 
      mdInput 
      [value]="dictionary.name"
      readonly>

  </md-input-container>

  <table cellspacing="0">
    <tr>
      <th>Domain</th>
      <th>Range</th>
    </tr>

    <tr *ngFor="let entry of dictionary.list; let idx = index">
      <td>

        <md-icon class="inconsistency-marker warning" *ngIf="isDuplicateDomain(entry, idx)" mdTooltip="Duplicate domain or domain/range" mdTooltipPosition="above">warning</md-icon>

        <md-icon class="inconsistency-marker error" *ngIf="isChainOrCycle(entry)" mdTooltip="Part of a chain or cycle" mdTooltipPosition="above">error</md-icon>

        <md-input-container>

          <input 
            name="domain-{{entry.domain | keyable}}" 
            mdInput 
            [value]="entry.domain"
            readonly>

        </md-input-container>
      </td>
      <td>
        <md-input-container>

          <input 
            name="range_for-{{entry.domain | keyable}}" 
            mdInput 
            [value]="entry.range"
            readonly>

        </md-input-container>
      </td>
    </tr>

  </table>
</form>